language: java
jdk:
  - openjdk21

branches:
  only:
    - master

# Travis CI 서버의 Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

# gradlew 파일에 실행권한이 없을 수 있음. 먼저 권한 부여
before_install:
  - chmod +x gradlew # 실행 권한 부여

script: "./gradlew clean build"

# CI 실행 완료 시 메일로 알람
notifications:
  email:
    recipients:
      - juoiy05@gmail.com